<div id="navbar">
	<label for="playerControl" class="pull-left">Player:</label>
	<select id="playerControl" class="inline-form-control pull-left">
		{% for player in players %}
	  <option>{{player}}</option>
		{% endfor %}
	</select>
	<label for="colorControl" class="pull-left">Color:</label>
	<select id="colorControl" class="inline-form-control pull-left">
		{% for color in colors %}
	  <option>{{color}}</option>
		{% endfor %}
	</select>
	<button id="submitButton" type="button" class="btn btn-success btn-sm pull-left" onClick="submit()">Update Filter</button>
	<script type="text/javascript">
		function process(data) {
			var s = "";
			var cards = JSON.parse(data);
		    console.log(cards);
			for (var card in cards) {
				console.log(card);
				s += "<img src=\"" + cards[card][2] + "\" alt=\"sucky card\">";
			}
			return s;
		}

		function submit() {
			var player = $("#playerControl").val();
			var color = $("#colorControl").val();
			$.ajax({
				url: "../getdata/" + player + "/" + color,
				success: function(data) {
					$('#content').html(process(data));
				},
				failure: function() {
					alert ("Try holding your phone over your head, sometimes the gyroscope in your phone does wierd things to wireless antnenas!");
				}
			});
		}
	</script>
</div>
